<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>MFANAKA KA MALULEKE</h3>
        <p>Fashion & Portrait Photographer - South Africa</p>
      </div>
      <div class="col-md-6">
        <div class="social-links">
          <a href="https://instagram.com/mfana_ka_maluleke" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" target="_blank" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; {{currentYear}} Mfanaka Ka Maluleke. All Rights Reserved.</p>
    </div>
  </div>
</footer>
